---
---
<button id="scrollToTop" class="fixed bottom-5 right-5 bg-indigo-600 text-white p-2 rounded-full shadow-md hidden transition-opacity duration-300 hover:bg-indigo-700">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
  </svg>
</button>

<script>
  const scrollToTopButton = document.getElementById('scrollToTop');

  window.addEventListener('scroll', () => {
    if (window.pageYOffset > 300) {
      scrollToTopButton.classList.remove('hidden');
      scrollToTopButton.classList.add('flex');
    } else {
      scrollToTopButton.classList.remove('flex');
      scrollToTopButton.classList.add('hidden');
    }
  });

  scrollToTopButton.addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });
</script>